include dash_large_upload_component/dash_large_upload_component.min.js
include dash_large_upload_component/dash_large_upload_component.dev.js
include dash_large_upload_component/metadata.json
include dash_large_upload_component/package.json
include README.md
